.popup__container {
  position: fixed;
  width: 430px;
  height: 330px;
  background: #fff;
  top: 195px;
  left: calc((100% - 430px) / 2);
  border-radius: 10px;
}


@media (max-width: 570px) {
  .popup__container {
    width: 282px;
    height: 250px;
    margin-left: calc((100% - 282px) / 2);
  }
}
