.popup__input-name {
  width: 358px;
  margin: 54px 36px 0;
  border: unset;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 570px) {
  .popup__input-name {
    width: 264px;
    margin: 34px 9px 0;
  }
}
