.profile__name {
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  margin: 0;
  max-width: 480px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .profile__name {
    font-size: 27px;
  }
}
